<!DOCTYPE html>
<html>

<head>
    <title>Reset Password</title>
</head>

<body>
    <h1>Reset Password</h1>
    <form action="/auth/reset-password" method="POST">
        <input type="hidden" name="token" value="<%= token %>">
        <div>
            <label for="newPassword">New Password:</label>
            <input type="password" id="newPassword" name="newPassword" required>
        </div>
        <div>
            <button type="submit">Reset Password</button>
        </div>
    </form>
</body>

</html>